<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--<form (ngSubmit)="signupUser()">-->
    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-input type="text" [(ngModel)]="user.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
    </ion-item>


    <!--validar botão-->
    <ion-button type="submit" block expand="block"(click)="signupUser()" (click)="closeModal()">Registrar</ion-button>
 <!-- </form>  -->
</ion-content>